@import url("font/stylesheet.css");

@media screen and (max-width: 420px){
    .none {
        display: none;
    }

}

html, body {
	margin: 0;
	padding: 0;
    background-color: rgb(255, 255, 255);
}

* {
	box-sizing: border-box;
}

body {
	font-size: 16px;
    font-family: 'Graphik', sans-serif;
}

.back_img{
    width: 100%;
    background: url(../img/back-img.svg) 100% 100% no-repeat;
    background-position: center top;
}

.absolute-center{
	width: 100%;
	text-align: center;
}

.heading {
    padding-bottom: 370px;
}

@media screen and (max-width: 420px){
    .heading {
        padding-bottom: 300px;
    }
}

.dark-back {
    background: rgba(37, 43, 66, 1);
}

.white-back {
    background-color: #fff;
}

.blue-back {
    background: rgba(32, 145, 249, 1);
}